body {
	font-size: 12px;
	background-color: #0a0a0a;
	color: #ffff00;
font-family:宋体;
scrollbar-face-color:#0a0a0a;
scrollbar-highlight-color:#4c4c4c;
scrollbar-3dlight-color:#4c4c4c;
scrollbar-darkshadow-color:#4c4c4c;
scrollbar-shadow-color:#0a0a0a;
scrollbar-arrow-color:#4c4c4c;
scrollbar-track-color:#0a0a0a;
}
table {
	font-size: 12px;
	background-color: #4c4c4c;
}
td {
	font-size: 12px;
	background-color: #0a0a0a;
}
a:hover {
	font-family: "宋体"; font-size: 14px;
	font-style: normal; line-height: normal; font-weight: bold;
	font-variant: normal; color: #3366CC; text-decoration: none
}
a:link {
	font-family: "宋体"; font-size: 14px;
	font-style: normal; line-height: normal; font-weight: bold;
	font-variant: normal; color: #c8c800; text-decoration: none
}
a:visited {
	font-family: "宋体"; font-size: 14px;
	font-style: normal; line-height: normal; font-weight: normal;
	font-variant: normal; color: #c8c800; text-decoration: none
}
a:active {
	font-family: "宋体"; font-size: 14px;
	font-style: normal; line-height: normal; font-weight: bold;
	font-variant: normal; color: #ff3c3c; text-decoration: none
}